$blue-base: #0085FF;
$alert-red: #F53333;
$alert-orange: #ffb300;
$alert-yellow: #eaff00;
$alert-green: #15ff00;
$alert-blue: #1ad9d9;
$alert-blue-cold: #1a4ad9;
.alert-red {
    background-color: $alert-red;
}

.alert-orange {
    background-color: $alert-orange;
}

.alert-yellow {
    background-color: $alert-yellow;
}

.alert-green {
    background-color: $alert-green;
}

.alert-blue {
    background-color: $alert-blue;
}

.alert-blue-cold {
    background-color: $alert-blue-cold;
}