a {
    text-decoration: none;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    p {
        transition: color 200ms;
    }
}

.link-label {
    position: fixed;
    top: -9000px;
    left: -9000px;
    @media(min-width: 800px) {
        position: static;
    }
}

.a-nav {
    display: block;
    text-align: center;
    @media (min-width: 800px) {
        display: flex;
        align-items: center;
    }
}

li {
    list-style-type: none;
}