@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Antic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
.alert-red {
  background-color: #F53333;
}

.alert-orange {
  background-color: #ffb300;
}

.alert-yellow {
  background-color: #eaff00;
}

.alert-green {
  background-color: #15ff00;
}

.alert-blue {
  background-color: #1ad9d9;
}

.alert-blue-cold {
  background-color: #1a4ad9;
}

a {
  text-decoration: none;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
a p {
  transition: color 200ms;
}

.link-label {
  position: fixed;
  top: -9000px;
  left: -9000px;
}
@media (min-width: 800px) {
  .link-label {
    position: static;
  }
}

.a-nav {
  display: block;
  text-align: center;
}
@media (min-width: 800px) {
  .a-nav {
    display: flex;
    align-items: center;
  }
}

li {
  list-style-type: none;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 50px);
  text-align: start;
  align-items: center;
  margin-top: 40px;
}
@media (min-width: 800px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 40px);
    margin-bottom: 60px;
  }
}
.header .h1 {
  font-family: Antic;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 800px) {
  .header .h1 {
    text-align: center;
    font-size: 80px;
    line-height: 100px;
  }
}
.header .nav-container {
  margin-top: 8px;
  justify-self: right;
}
@media (min-width: 800px) {
  .header .nav-container {
    grid-row: 2;
    margin-top: 35px;
    width: 100%;
  }
}
.header .nav-container .nav-container-items {
  display: grid;
  grid-template-columns: 30px 80px;
  grid-template-rows: repeat(2, 20px);
  justify-items: end;
}
@media (min-width: 800px) {
  .header .nav-container .nav-container-items {
    align-items: center;
    grid-template-columns: 8em 8em 1fr 20%;
    grid-column-gap: 0px;
    margin-top: 35px;
  }
  .header .nav-container .nav-container-items a,
.header .nav-container .nav-container-items p {
    position: static;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Antic;
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  .header .nav-container .nav-container-items a:hover,
.header .nav-container .nav-container-items p:hover {
    color: #0085FF;
  }
}
.header .nav-container .nav-container-items #nav-item-2 {
  margin-top: 20px;
  grid-column: 2;
  grid-row: 2;
}
@media (min-width: 800px) {
  .header .nav-container .nav-container-items #nav-item-2 {
    margin-top: 0;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }
}
.header .nav-container .nav-container-items #nav-item-2 a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav-container .nav-container-items #nav-item-2 a p {
  position: static;
}
.header .nav-container .nav-container-items #nav-item-2 .number-alert {
  text-align: center;
  width: 1.4em;
  height: 1.4em;
  background: #F53333;
  border: 1px solid #0085FF;
  border-radius: 100px;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  font-family: Antic;
  display: inline-block;
  margin-left: 10px;
}
@media (min-width: 800px) {
  .header .nav-container .nav-container-items #nav-item-2 .number-alert {
    width: 1.2em;
    height: 1.2em;
  }
}
@media (min-width: 800px) {
  .header .nav-container .nav-container-items #nav-item-3 {
    grid-column: 2;
    grid-row: 1;
  }
  .header .nav-container .nav-container-items #nav-item-3 img {
    width: 30px;
    height: 30px;
    display: inline;
    margin-left: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .header .nav-container .nav-container-items #nav-item-1 {
    grid-column: 4;
    grid-row: 1;
    justify-self: flex-end;
  }
  .header .nav-container .nav-container-items #nav-item-1 img {
    margin-left: 5px;
  }
}
.header .nav-container .trait {
  margin: 0;
  border: 1px solid #0085FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 1px;
}
@media (min-width: 800px) {
  .header .nav-container .trait {
    top: 115%;
  }
}
.header .time {
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
@media (min-width: 800px) {
  .header .time {
    display: none;
  }
}

.page-title {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0.1em;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.alert-container {
  background-color: #F53333;
  color: white;
  border-radius: 10px;
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(3, 30%);
  margin-bottom: 15px;
}
@media (min-width: 800px) {
  .alert-container {
    margin-bottom: 50px;
    margin: 0 100px;
    grid-template-rows: 20% 40% 30%;
  }
}
.alert-container .alert-title {
  margin-top: 0.6em;
  grid-row: 1;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media (min-width: 800px) {
  .alert-container .alert-title {
    font-size: 25px;
    line-height: 30px;
  }
}
.alert-container .alert-header {
  grid-row: 2;
  font-size: 16px;
  letter-spacing: 0.1em;
  width: 85%;
  border-bottom: solid black 1px;
  box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.35);
  padding-bottom: 0.4em;
}
.alert-container .alert-header::after {
  content: "°C";
}
@media (min-width: 800px) {
  .alert-container .alert-header {
    font-size: 25px;
    line-height: 28px;
  }
}
.alert-container .alert-content {
  grid-row: 3;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  margin: 0;
}
@media (min-width: 800px) {
  .alert-container .alert-content {
    font-size: 24px;
    line-height: 28px;
  }
}

.capteur-container {
  height: 100%;
}
@media (min-width: 800px) {
  .capteur-container {
    margin: 40px 100px;
  }
}
.capteur-container .h2 {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
@media (min-width: 800px) {
  .capteur-container .h2 {
    font-size: 48px;
    line-height: 55px;
    margin: 0px;
  }
}
.capteur-container .capteur {
  height: 20%;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 60% 40%;
  margin: 2% 0;
  padding: 20px 18px 10px 5px;
  border: 1px solid #0085FF;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
@media (min-width: 800px) {
  .capteur-container .capteur {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 1200px) {
  .capteur-container .capteur {
    margin: 5%;
  }
}
.capteur-container .capteur h4 {
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (min-width: 800px) {
  .capteur-container .capteur h4 {
    font-size: 36px;
    line-height: 41px;
  }
}
.capteur-container .capteur .capteur-header {
  grid-row: 1;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.capteur-container .capteur .capteur-header h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  margin: 0;
}
@media (min-width: 800px) {
  .capteur-container .capteur .capteur-header h3 {
    font-size: 36px;
    line-height: 41px;
  }
}
.capteur-container .capteur .capteur-header .link-edit-capteur {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}
.capteur-container .capteur .capteur-main {
  height: 100%;
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.capteur-container .capteur .capteur-main strong {
  font-weight: normal;
}
.capteur-container .capteur .capteur-main .data-temp {
  font-size: 50px;
  line-height: 0px;
  margin: 0.2em 0px;
  font-style: normal;
}
@media (min-width: 800px) {
  .capteur-container .capteur .capteur-main .data-temp {
    font-size: 96px;
    line-height: 110.49%;
  }
}
.capteur-container .capteur .capteur-main .data-temp strong::after {
  content: "°C";
}
.capteur-container .capteur .capteur-main .data-temp .img-alert {
  width: 0.6em;
  margin-left: 0.4em;
}
.capteur-container .capteur .capteur-main p {
  text-align: center;
  margin: 25px 25px 0 0;
  padding: 5px 25px;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 800px) {
  .capteur-container .capteur .capteur-main p {
    font-size: 25px;
    line-height: 30px;
  }
}
.capteur-container .capteur .capteur-aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.capteur-container .capteur .capteur-aside a {
  margin-top: 1.2em;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  padding: 5px 25px;
  background-color: #2094FF;
  border-radius: 10px;
}
@media (min-width: 800px) {
  .capteur-container .capteur .capteur-aside a {
    margin: 1.2em 4em 0 4em;
  }
}

.historique {
  height: 100%;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  display: grid;
  grid-template-rows: 1fr 0;
  align-items: flex-end;
}
.historique .liste-heure {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 21%);
  grid-template-rows: 0px;
  grid-column-gap: 4%;
  margin: 0;
  font-size: 10px;
  padding: 0 2% 0 4%;
  font-weight: bold;
}
@media (min-width: 450px) {
  .historique .liste-heure {
    grid-template-columns: repeat(5, 18%);
    grid-column-gap: 2%;
    padding: 0 2% 0 4%;
    font-size: 10px;
  }
}
@media (min-width: 800px) {
  .historique .liste-heure {
    font-size: 16px;
    font-weight: normal;
  }
}
.historique .liste-heure .heure-item {
  padding-top: 0.2em;
}
.historique .liste-heure .last-item {
  display: none;
}
@media (min-width: 450px) {
  .historique .liste-heure .last-item {
    display: list-item;
  }
}
.historique .historique-liste-value {
  height: 100%;
  margin: 0;
  padding: 0 2% 0 4%;
  display: grid;
  grid-template-columns: repeat(4, 21%);
  grid-column-gap: 4%;
  align-items: flex-end;
}
@media (min-width: 450px) {
  .historique .historique-liste-value {
    grid-template-columns: repeat(5, 18%);
    grid-column-gap: 2%;
    padding: 0 2% 0 4%;
  }
}
.historique .historique-liste-value .historique-value-item {
  text-align: center;
  height: 15%;
  font-size: 14px;
  border: 1px solid black;
  border-bottom: none;
}
@media (min-width: 800px) {
  .historique .historique-liste-value .historique-value-item {
    font-size: 18px;
  }
}
.historique .historique-liste-value .historique-value-item:after {
  content: "°";
}
.historique .historique-liste-value .last-item {
  display: none;
}
@media (min-width: 450px) {
  .historique .historique-liste-value .last-item {
    display: list-item;
  }
}

body {
  font-family: Arimo;
  margin: 0 5%;
  height: 100%;
}
@media (min-width: 800px) {
  body {
    margin: 0 100px;
  }
}
@media (min-width: 1200px) {
  body {
    margin: 0 10%;
  }
}
@media (min-width: 1400px) {
  body {
    margin: 0 20%;
  }
}

.main {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
