//Import des polices
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
//Import des modules 
@import "modules/colors.scss"; //couleurs
@import './modules/link.scss'; //liens
//Import des composants
@import './components/header.scss';
@import './components/alert.scss';
@import './components/capteur.scss';
@import './components/historique.scss';
//Règles globales
body {
    font-family: Arimo;
    margin: 0 5%;
    @media (min-width: 800px) {
        margin: 0 100px;
    }
    @media (min-width: 1200px) {
        margin: 0 10%;
    }
    @media (min-width: 1400px) {
        margin: 0 20%;
    }
    height: 100%;
}

.main {
    height: 100%;
}