@import "../modules/display.scss";
.alert-container {
    background-color: $alert-red;
    color: white;
    border-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(3, 30%);
    margin-bottom: 15px;
    @media (min-width: 800px) {
        margin-bottom: 50px;
        margin: 0 100px;
        grid-template-rows: 20% 40% 30%;
    }
    .alert-title {
        margin-top: 0.6em;
        grid-row: 1;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.1em;
        margin-bottom: 0;
        text-transform: uppercase;
        @media (min-width: 800px) {
            font-size: 25px;
            line-height: 30px;
        }
    }
    .alert-header {
        grid-row: 2;
        font-size: 16px;
        letter-spacing: 0.1em;
        width: 85%;
        border-bottom: solid black 1px;
        box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.35);
        padding-bottom: 0.4em;
        &::after {
            content: '°C'
        }
        @media (min-width: 800px) {
            font-size: 25px;
            line-height: 28px;
        }
    }
    .alert-content {
        grid-row: 3;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        margin: 0;
        @media (min-width: 800px) {
            font-size: 24px;
            line-height: 28px;
        }
    }
}