.capteur-container {
    height: 100%;
    @media (min-width: 800px) {
        margin: 40px 100px;
    }
    .h2 {
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        @media (min-width: 800px) {
            font-size: 48px;
            line-height: 55px;
            margin: 0px;
        }
    }
    .capteur {
        height: 20%;
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 60% 40%;
        margin: 2% 0;
        @media(min-width: 800px) {
            grid-template-columns: 50% 50%;
        }
        @media(min-width: 1200px) {
            margin: 5%;
        }
        padding: 20px 18px 10px 5px;
        border: 1px solid $blue-base;
        box-sizing: border-box;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        h4 {
            font-size: 20px;
            line-height: 23px;
            font-weight: normal;
            margin-top: 20px;
            margin-bottom: 10px;
            @media (min-width: 800px) {
                font-size: 36px;
                line-height: 41px;
            }
        }
        .capteur-header {
            grid-row: 1;
            grid-column: span 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 25px;
                margin: 0;
                @media (min-width: 800px) {
                    font-size: 36px;
                    line-height: 41px;
                }
            }
            .link-edit-capteur {
                text-decoration: none;
                color: rgba(#000000, 0.5);
                margin-right: 15px;
            }
        }
        .capteur-main {
            height: 100%;
            grid-row: 2;
            grid-column: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            strong {
                font-weight: normal;
            }
            .data-temp {
                font-size: 50px;
                line-height: 0px;
                margin: 0.2em 0px;
                @media (min-width: 800px) {
                    font-size: 96px;
                    line-height: 110.49%;
                }
                font-style: normal;
                & strong::after {
                    content: "°C";
                }

                .img-alert {
                    width: 0.6em;
                    margin-left: 0.4em;
                }
            }
            p {
                text-align: center;
                margin: 25px 25px 0 0;
                padding: 5px 25px;
                border-radius: 10px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 18px;
                @media (min-width: 800px) {
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }
        .capteur-aside {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            a {
                @media (min-width: 800px) {
                    margin: 1.2em 4em 0 4em;
                }
                margin-top: 1.2em;
                text-decoration: none;
                color: black;
                text-align: center;
                font-size: 16px;
                line-height: 18px;
                padding: 5px 25px;
                background-color: #2094FF;
                border-radius: 10px;
            }
        }
    }
}