.header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 50px);
    text-align: start;
    align-items: center;
    margin-top: 40px;
    @media (min-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 40px);
        margin-bottom: 60px;
    }
    .h1 {
        font-family: Antic;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        margin: 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        @media (min-width: 800px) {
            text-align: center;
            font-size: 80px;
            line-height: 100px;
        }
    }
    .nav-container {
        margin-top: 8px;
        justify-self: right;
        @media (min-width: 800px) {
            grid-row: 2;
            margin-top: 35px;
            width: 100%;
        }
        .nav-container-items {
            display: grid;
            grid-template-columns: 30px 80px;
            grid-template-rows: repeat(2, 20px);
            justify-items: end;
            @media (min-width: 800px) {
                align-items: center;
                grid-template-columns: 8em 8em 1fr 20%;
                grid-column-gap: 0px;
                margin-top: 35px;
                a,
                p {
                    position: static;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    font-family: Antic;
                    color: black;
                    text-decoration: none;
                    font-size: 18px;
                    &:hover {
                        color: $blue-base;
                    }
                }
            }
            #nav-item-2 {
                margin-top: 20px;
                grid-column: 2;
                grid-row: 2;
                @media (min-width: 800px) {
                    margin-top: 0;
                    grid-column: 1;
                    grid-row: 1;
                    justify-self: start;
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p {
                        position: static;
                    }
                }
                .number-alert {
                    text-align: center;
                    width: 1.4em;
                    height: 1.4em;
                    background: #F53333;
                    border: 1px solid $blue-base;
                    border-radius: 100px;
                    box-sizing: border-box;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
                    font-family: Antic;
                    display: inline-block;
                    margin-left: 10px;
                    @media (min-width: 800px) {
                        width: 1.2em;
                        height: 1.2em;
                    }
                }
            }
            @media(min-width: 800px) {
                #nav-item-3 {
                    grid-column: 2;
                    grid-row: 1;
                    img {
                        width: 30px;
                        height: 30px;
                        display: inline;
                        margin-left: 5px;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                    }
                }
                #nav-item-1 {
                    grid-column: 4;
                    grid-row: 1;
                    justify-self: flex-end;
                    img {
                        margin-left: 5px;
                    }
                }
            }
        }
        .trait {
            margin: 0;
            border: 1px solid $blue-base;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
            width: 100%;
            position: absolute;
            top: 50%;
            left: 1px;
            @media (min-width: 800px) {
                top: 115%
            }
        }
    }
    .time {
        font-family: Arimo;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        @media (min-width: 800px) {
            display: none;
        }
    }
}

.page-title {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.1em;
}