.historique {
    height: 100%;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    display: grid;
    grid-template-rows: 1fr 0;
    align-items: flex-end;
    .liste-heure {
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(4, 21%);
        grid-template-rows: 0px;
        grid-column-gap: 4%;
        margin: 0;
        font-size: 10px;
        padding: 0 2% 0 4%;
        font-weight: bold;

        @media (min-width: 450px) {
            grid-template-columns: repeat(5, 18%);
            grid-column-gap: 2%;
            padding: 0 2% 0 4%;
            font-size: 10px;
        }
        
        @media (min-width: 800px) {
            font-size: 16px;
            font-weight: normal;
        }

        .heure-item {
            padding-top: 0.2em;
        }

        .last-item {
            display: none;

            @media (min-width: 450px) {
                display: list-item;
            }
        }
    }
    .historique-liste-value {
        height: 100%;
        margin: 0;
        padding: 0 2% 0 4%;
        display: grid;
        grid-template-columns: repeat(4, 21%);
        grid-column-gap: 4%;
        align-items: flex-end;
        @media (min-width: 450px) {
            grid-template-columns: repeat(5, 18%);
            grid-column-gap: 2%;
            padding: 0 2% 0 4%;
        }
        .historique-value-item {
            text-align: center;
            height: 15%;
            font-size: 14px;
            border: 1px solid black;
            border-bottom: none;

            @media(min-width: 800px) {
                font-size: 18px;
            }
            &:after {
                content: '°'
            }
        }

        .last-item {
            display: none;

            @media(min-width: 450px) {
                display: list-item;
            }
        }
    }
}